<div class="container mt-4">
  <div class="card header-card mb-4">
    <div class="card-header">
      <% if @question.title.present? %>
        <div class="title-wrapper">
          <h2 class="question-title">
            <%= @question.title %>
            <span class="question-suffix">のはどっち？</span>
          </h2>
        </div>
      <% end %>
      <h2 class="question-choices">
        <span><%= @question.choice_one %></span>
        <span class="vs-text">VS</span>
        <span><%= @question.choice_two %></span>
      </h2>
      <div class="author-info">
        投稿者: <%= @question.user.name %>
      </div>
    </div>
  </div>

  <% if @user_answer %>
    <%= render 'questions/results' %>
  <% else %>

  <div data-controller="comments" data-comments-question-id-value="<%= @question.id %>">
      <%= form_with(model: [@question, @answer], local: true, class: "answer-form") do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="choice-block" 
             data-action="click->comments#showComments"
             data-comments-choice-value="<%= @question.choice_one %>">
          <div class="choice-card">
            <%= f.radio_button :choice, @question.choice_one, class: "choice-input" %>
            <%= f.label :choice, @question.choice_one, value: @question.choice_one, class: "choice-label" %>
            <%= image_tag(@question.choice_one_image.thumb.url || "no_image.png", class: "choice-image") %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="choice-block" 
             data-action="click->comments#showComments"
             data-comments-choice-value="<%= @question.choice_two %>">
          <div class="choice-card">
            <%= f.radio_button :choice, @question.choice_two, class: "choice-input" %>
            <%= f.label :choice, @question.choice_two, value: @question.choice_two, class: "choice-label" %>
            <%= image_tag(@question.choice_two_image.thumb.url || "no_image.png", class: "choice-image") %>
          </div>
        </div>
      </div>
    </div> 

    <!-- コメントフォームを追加 -->
    <%= f.fields_for :comment do |comment_form| %>
      <div class="form-group mt-3">
        <%= comment_form.label :content, "選んだ理由" %>
        <%= comment_form.text_area :content, class: "form-control", required: true %>
      </div>
    <% end %>

    <!-- 投票ボタンを追加 -->
    <div class="text-center mt-4">
      <%= f.submit "投票する", class: "btn btn-primary btn-lg" %>
    </div>

    <div class="modal fade" id="commentsModal" data-comments-target="modal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" data-comments-target="modalTitle"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div data-comments-target="commentsContainer"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  <% end %>
</div>
