<div data-controller="comments" data-comments-question-id-value="<%= @question.id %>">
  <%= form_with(model: [@question, @answer], local: true, class: "answer-form") do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="choice-block" 
             data-action="click->comments#showComments"
             data-comments-choice-value="<%= @question.choice_one %>">
          <div class="choice-card">
            <%= f.radio_button :choice, @question.choice_one, class: "choice-input" %>
            <%= f.label :choice, @question.choice_one, value: @question.choice_one, class: "choice-label" %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="choice-block" 
             data-action="click->comments#showComments"
             data-comments-choice-value="<%= @question.choice_two %>">
          <div class="choice-card">
            <%= f.radio_button :choice, @question.choice_two, class: "choice-input" %>
            <%= f.label :choice, @question.choice_two, value: @question.choice_two, class: "choice-label" %>
          </div>
        </div>
      </div>
    </div> <!-- row を閉じる -->

    <div class="modal fade" id="commentsModal" data-comments-target="modal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" data-comments-target="modalTitle"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div data-comments-target="commentsContainer"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
  <% end %> <!-- form_with を閉じる -->
</div>
